@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

body {
    background: url('assets/bg1.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(56, 61, 7, 0.15);
    backdrop-filter: blur(15px);
}

/* UTILITIES */
.regular-txt {
    font-weight: 600;   
}
/* END UTILITIES */

.main-container {
    width: 500px;
    height: 620px;
    z-index: 1;
    background: linear-gradient(
        to top, rgba(43, 5, 94, 0.945),
        rgba(126, 6, 150, 0.363));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* INPUT CONTAINER */
.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}
.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}
.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.25s;
}
.search-btn:hover {
    opacity: 1;
}
/* END INPUT CONTAINER */

/* SECTION: WEATHER INFO */
.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-summary-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.weather-summary-img {
    width: 200px;
    height: 200px;
}
.weather-summary-info {
    text-align: end;
}

.weather-conditions-container {
    border: solid;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-content: normal;
    align-items: center;
    gap:20px;
    padding:10px;
}
.condition-item {
    align-items: center;
    gap: 3px;
}
.condition-item span {
    font-size: 30px;
}

.forecast-items-container {
    display:flex;
    gap: 25px;
    padding-bottom: 12px;
}


.forecast-item {
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}
.forecast-item-img {
    width: 35px;
    height: 35px;
}
/* END SECTION: WEATHER INFO */

/* SECTION: MESSAGE */
.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}
.section-message img {
    height: 180px;
    width: fit-content;
}
/* end SECTION: MESSAGE */